apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "buildkit.fullname" . }}
  labels:
    {{- include "buildkit.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "buildkit.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- if or .Values.rootless .Values.podAnnotations }}
      annotations:
        {{- if .Values.rootless }}
        container.apparmor.security.beta.kubernetes.io/{{ .Chart.Name }}: unconfined
        {{- end }}
        {{- with .Values.podAnnotations -}}
        {{ toYaml . | nindent 8 }}
        {{- end }}
      {{- end }}
      labels:
        {{- include "buildkit.selectorLabels" . | nindent 8 }}
    spec:
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ include "buildkit.imageTag" . }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          volumeMounts:
          # BuildKit state volume is always mounted
          - name: buildkit-state
            mountPath: {{ if .Values.rootless }}/home/user/.local/share/buildkit{{ else }}/var/lib/buildkit{{ end }}
          {{- if .Values.buildkitdToml }}
          - name: config
            mountPath: {{ if .Values.rootless }}/home/user/.config/buildkit{{ else }}/etc/buildkit{{ end }}
          {{- end }}
          {{- if .Values.tls.enabled }}
          - name: certs
            readOnly: true
            mountPath: /certs
          {{- end }}
          {{- if .Values.caCerts.enabled }}
          - name: ca-certs
            readOnly: true
            mountPath: /etc/buildkit/certs
          {{- end }}
          {{- if .Values.preStop }}
          - name: files
            mountPath: /usr/local/bin/buildkit-prestop.sh
            subPath: buildkit-prestop.sh
          {{- end }}
          {{- with .Values.env }}
          env:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- if .Values.preStop }}
          lifecycle:
            preStop:
              exec:
                command: [ "/bin/sh", "/usr/local/bin/buildkit-prestop.sh" ]
          {{- end }}
          args:
            - --addr
            - unix:///run/{{ .Values.rootless | ternary "user/1000" ""}}/buildkit/buildkitd.sock
            - --addr
            - tcp://0.0.0.0:1234
          {{- if .Values.rootless }}
            - --oci-worker-no-process-sandbox
          {{- end }}
          {{- if .Values.tls.enabled }}
            - --tlscacert
            - /certs/ca.crt
            - --tlscert
            - /certs/tls.crt
            - --tlskey
            - /certs/tls.key
          {{- end }}
          {{- if .Values.debugLog }}
            - --debug
          {{- end }}
          {{- range .Values.daemonArgs }}
            - {{ . }}
          {{- end }}
          ports:
            - name: tcp
              containerPort: 1234
              protocol: TCP
          readinessProbe:
            exec:
              command:
              - buildctl
              - debug
              - workers
            initialDelaySeconds: 5
            periodSeconds: 30
          livenessProbe:
            exec:
              command:
              - buildctl
              - debug
              - workers
            initialDelaySeconds: 5
            periodSeconds: 30
          securityContext:
          {{- if .Values.rootless }}
            seccompProfile: # Needs Kubernetes >= 1.19
              type: Unconfined
            runAsUser: 1000
            runAsGroup: 1000
          {{- else }}
            privileged: true
          {{- end }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          {{- with .Values.lifecycle }}
          lifecycle:
            {{- toYaml . | nindent 12 }}
          {{- end }}
      volumes:
      # BuildKit state volume is always present
      - name: buildkit-state
        {{- if eq .Values.buildkitVolume.type "pvc" }}
        persistentVolumeClaim:
          claimName: {{ .Values.buildkitVolume.pvc.existingClaim | default (include "buildkit.fullname" .) }}
        {{- else }}
        emptyDir:
          {{- with .Values.buildkitVolume.emptyDir.medium }}
          medium: {{ . }}
          {{- end }}
          {{- with .Values.buildkitVolume.emptyDir.sizeLimit }}
          sizeLimit: {{ . }}
          {{- end }}
        {{- end }}
      {{- if or .Values.tls.enabled .Values.caCerts.enabled .Values.buildkitdToml .Values.preStop }}
      {{- if .Values.buildkitdToml }}
      - name: config
        configMap:
          name: buildkitd-config
      {{- end }}
      {{- if .Values.caCerts.enabled }}
      - name: ca-certs
        configMap:
          name: ca-certs
      {{- end }}
      {{- if .Values.tls.enabled }}
      - name: certs
        secret:
          secretName: {{ .Values.tls.existingSecret | default (include "buildkit.fullname" .) }}
      {{- end }}
      {{- if .Values.preStop }}
      - name: files
        configMap:
          name: {{ include "buildkit.fullname" . }}-files
          defaultMode: 0777
      {{- end }}
      {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      terminationGracePeriodSeconds: {{ .Values.terminationGracePeriodSeconds }}
